{% from 'targets-details.twig' import phases %}
<h1 id="attack-details-header">Attack details of {{ attacker }}</h1>
<table id="attack-details-table">
    <tr>
        <th>Attacker</th><td>{{attacker}}</td>
        <th>Start time</th><td>{{start_time}}</td>
        <th>Total flows</th><td>{{total_flows}}</td>
        <th>Total bytes</th><td>{{total_bytes}}</td>
    </tr>
    <tr>
        <th>Phases</th><td>{{phases(certainty)}}</td>
        <th>End time</th><td>{{end_time}}</td>
        <th>Total packets</th><td>{{total_packets}}</td>
    </tr>
</table>


{# flot plot container: #}
<div id="attacks-plot-header">
    <div id="attacks-plot-legend" style="float: left;"></div>
</div>

<div id="attack-profile-plot-container">
    <div id="attack-profile-plot"></div>
</div>
