{% block main %}
    <div>
        <table id="overview-table">
            <tbody>
                <tr><td class="field-name left">IP address</td><td>{{ host }}</td><td class="field-name right">Domain name</td><td>{{ domain }}</td></tr>
                <tr><td class="field-name left">Country</td><td>{{ country }}</td><td class="field-name right">City</td><td>{{ city }}</td></tr>
            </tbody>
        </table>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#attacks-target" role="tab" data-toggle="tab">Attacks targeting host</a></li>
        <li><a href="#attacks-attacker" role="tab" data-toggle="tab">Attacks by host</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="attacks-target">
            {% if attacks_target|length >= 1 %}
                <table id="attacks-target-table" class="list">
                    <thead>
                        <td>Phases</td><td>Attacker</td><td>Date</td>
                    </thead>
                    <tbody>
                        {% for attack in attacks_target %}
                            <tr>
                                <td>
                                    <div class="phases">
                                        {% if attack.certainty in [ 0.25, 0.5, 0.75 ] %}
                                            <div class="phase scan on"></div>
                                        {% else %}
                                            <div class="phase scan"></div>
                                        {% endif %}

                                        {% if attack.certainty in [ 0.4, 0.5, 0.65, 0.75 ] %}
                                            <div class="phase bruteforce on"></div>
                                        {% else %}
                                            <div class="phase bruteforce"></div>
                                        {% endif %}
                                        
                                        {% if attack.certainty in [ 0.65, 0.75 ] %}
                                            <div class="phase compromise on"></div>
                                        {% else %}
                                            <div class="phase compromise"></div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td><a class="ip-addr">{{ attack.attacker }}</a></td>
                                <td>{{ attack.start_time | date("D. M j, Y H:i") }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <td colspan="3"><span class="notice">No data available</span></td>
            {% endif %}
        </div>
        <div class="tab-pane" id="attacks-attacker">
            {% if attacks_attacker|length >= 1 %}
                <table id="attacks-attacker-table" class="list">
                    <thead>
                        <td>Phases</td><td>Attacker</td><td>Date</td>
                    </thead>
                    <tbody>
                        {% for attack in attacks_attacker %}
                            <tr>
                                <td>
                                    <div class="phases">
                                        {% if attack.certainty in [ 0.25, 0.5, 0.75 ] %}
                                            <div class="phase scan on"></div>
                                        {% else %}
                                            <div class="phase scan"></div>
                                        {% endif %}

                                        {% if attack.certainty in [ 0.4, 0.5, 0.65, 0.75 ] %}
                                            <div class="phase bruteforce on"></div>
                                        {% else %}
                                            <div class="phase bruteforce"></div>
                                        {% endif %}
                                        
                                        {% if attack.certainty in [ 0.65, 0.75 ] %}
                                            <div class="phase compromise on"></div>
                                        {% else %}
                                            <div class="phase compromise"></div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td><a class="ip-addr">{{ attack.attacker }}</a></td>
                                <td>{{ attack.start_time | date("D. M j, Y H:i")}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <td colspan="3"><span class="notice">No data available</span></td>
            {% endif %}
        </div>
    </div>
{% endblock %}
